<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}用户中心{% endblock %}</title>
    <style>
        .header {
            background-color: burlywood;
            width: 500px;
            height: 30px;
        }
        .header li {
            float: left;
            margin: 0 20px;
            list-style: none;
            line-height: 30px;

        }

        .header li a {
            text-decoration: none;
        }
    </style>
    {% block mycss %}
    {% endblock %}
</head>
<body>
<div class="header">
    <ul>
        <li><a href="">首页</a></li>
        <li><a href="">秒杀</a></li>
        <li><a href="">超市</a></li>
        <li><a href="">会员</a></li>
        <li><a href="">图书</a></li>

    </ul>
</div>
<div class="middle">
    {% block middle %}
    {% endblock %}
</div>
<div class="footer"></div>


{% block myjs %}
{% endblock %}
</body>
</html>